footer {

  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px;
  height: auto;

  
.redsos {
  display: flex;
  flex-direction: column;
  margin: 5px;
  }

  .donde {
    display: flex;
    
    justify-content: flex-end;
  }


}
/*transicion footer*/

footer img:hover {
  padding: 1px;
  width: 40px;
  height: 40px;
}