footer {

  background-color: map-get($colores , bgfooter );

  color: white;

   
img {
  display: flex;
  flex-direction: column;
  transition: all 1.5s;

  &:hover {
    transform: scale(1.5);
  }
}
  
  
}
