 /* zona trabajo header en index*/

 .navbar {
     background-color: map-get($colores,bgnavbar );

    

     .logo {
         transition: all 2s;

         &:hover {
             transform: scale(1.3);
         }
     }

     .navbar-brand {
         font-size: 40px;

         p {
             font-size: 22px;
         }
     }

     .nav-item {
         font-size: 20px;
         transition: all 1s;

         &:hover {
             transform: scale(1.2);
             color: white;
         }

     }
 }






 /* fin zona de trabajo header */