.servi {
  background: linear-gradient(to top, rgba(218, 219, 224, 0.90), rgba(218, 219, 224, 0.00)), url(../imagenes1/fondo1.jpg);

  .carousel-inner {
    border-radius: 20px;
    height: 500p;
  }

  .carousel-caption {
    @include carrserv ($opac: 0.6, $color: black); 
    
    &:hover {
      background: linear-gradient(to top, rgba(218, 219, 224, 0.90), rgba(218, 219, 224, 0.00)), url(../imagenes1/obra1.jpg);
      scale: 1.5;
      opacity: 1;

    }
  }

  .servicios {
    display: flex;
    opacity:1;
    justify-content: center;
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 32);
    font-family: Georgia, 'Times New Roman', Times, serif;


  }

}