.logosclientes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url(../imagenes1/paraoee\ \(2\).jpg);
  overflow: hidden;

  .logosclientes_parrafo {
    display: flex;
    background-color: rgb(63, 59, 59);
    color: white;
    justify-content: center;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
  }

  .imgcli {
    width: 200px;
    height: 200px;
    margin: 20px;
    overflow: hidden;
    cursor: grab;
    transition: height, width, padding 2s;

    &:hover {
      border: solid;
      padding: 10px;
      width: 300px;
      height: 300px;
    }
  }
}