.clientes {

  background: linear-gradient(to top, rgba(218, 219, 224, 0.90), rgba(218, 219, 224, 0.00)), url(../imagenes1/fondo1.jpg);
.card {
  opacity: 0.8;

}

  .logosclientes_parrafo {
    display: flex;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 40px;
    color: rgb(2, 2, 59);

    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}