.tit2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 40px;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    transition: scale, background-color, color 2s;

    &:hover {
        opacity: 90%;
        scale: 0.85;
        border-radius: solid 55px;
        background-color: rgb(10, 10, 10);
        color: rgb(241, 238, 238);
    }
}