@charset "UTF-8";
.clase1 {
  color: rgb(13, 14, 14);
  background-color: chartreuse;
}

.clase2 {
  color: rgb(224, 220, 236);
  background-color: rgb(52, 17, 134);
}

.clase3 {
  color: rgb(68, 5, 5);
  background-color: rgb(251, 255, 0);
}

.clase1, .clase2, .clase3 {
  padding: 10px;
  border-radius: 5px;
  border: 0;
  text-decoration: underline;
}

/*tamaño imagenes*/
.logotransp {
  width: 130px;
  height: 100px;
  border: solid;
  padding: 5px;
  background-color: rgb(61, 75, 48);
  transform: padding 0.3s;
}

.logotransp:hover {
  background-color: rgb(6, 126, 126);
}

.carr {
  height: auto;
  width: 100%;
}

.ubic {
  width: 100px;
  height: 60px;
}

.logo {
  display: flex;
  height: 100px;
  width: 100ps;
  margin: 10px;
}

/* fin seccion tamaño imagenes*/
/* zona trabajo header en index*/
.navbar {
  background-color: rgb(33, 97, 140);
}
.navbar .logo {
  transition: all 2s;
}
.navbar .logo:hover {
  transform: scale(1.3);
}
.navbar .navbar-brand {
  font-size: 40px;
}
.navbar .navbar-brand p {
  font-size: 22px;
}
.navbar .nav-item {
  font-size: 20px;
  transition: all 1s;
}
.navbar .nav-item:hover {
  transform: scale(1.2);
  color: white;
}

/* fin zona de trabajo header */
/* zona carrousel */
.index {
  background: linear-gradient(to top, rgba(218, 219, 224, 0.9), rgba(218, 219, 224, 0)), url(../imagenes1/fondo2.jpg);
}
.index .carousel-item {
  justify-content: center;
  width: 100%;
  height: 500px;
}
.index .carousel-item .carr {
  opacity: 0.8;
  border-radius: 20px;
}
.index .card {
  background-color: rgba(255, 255, 255, 0.562);
  transition: all 2s;
}
.index .card:hover {
  opacity: 1;
  scale: 1.2;
  border-radius: solid 5px;
  color: white;
  background-color: rgb(5, 54, 100);
  z-index: 1;
}
.index .card .card-body .card-text {
  opacity: 0.8;
  color: black;
  opacity: 1;
  transition: all 2s;
}
.index .card .card-body .card-text:hover {
  color: white;
}

/* zona obras en ejecucion*/
.tit {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 40px;
  color: rgb(2, 2, 59);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.card {
  transition: all 2s;
}
.card:hover {
  opacity: 90%;
  transform: scalez(1.2);
  border-radius: solid 5px;
  color: white;
  background-color: rgb(11, 8, 190);
  z-index: 1;
}

.publi {
  display: flex;
  justify-content: space-around;
  border: solid 5px;
}

footer {
  background-color: black;
  color: white;
}
footer img {
  display: flex;
  flex-direction: column;
  transition: all 1.5s;
}
footer img:hover {
  transform: scale(1.5);
}

.obras {
  background: linear-gradient(to top, rgba(218, 219, 224, 0.9), rgba(218, 219, 224, 0)), url(../imagenes1/fondo1.jpg);
}
.obras .tit2 {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 40px;
  color: rgb(2, 2, 59);
  font-family: Georgia, "Times New Roman", Times, serif;
}
.obras .card {
  transition: scale, 2s;
}
.obras .card:hover {
  opacity: 90%;
  scale: 0.85;
  border-radius: solid 55px;
  background-color: rgb(10, 10, 10);
  color: rgb(241, 238, 238);
}

.servi {
  background: linear-gradient(to top, rgba(218, 219, 224, 0.9), rgba(218, 219, 224, 0)), url(../imagenes1/fondo1.jpg);
}
.servi .carousel-inner {
  border-radius: 20px;
  height: 500p;
}
.servi .carousel-caption {
  background-color: rgb(178, 247, 247);
  opacity: 0.6;
  color: black;
  border-radius: 15px;
  transition: background-color, scale 3s;
}
.servi .carousel-caption:hover {
  background: linear-gradient(to top, rgba(218, 219, 224, 0.9), rgba(218, 219, 224, 0)), url(../imagenes1/obra1.jpg);
  scale: 1.5;
  opacity: 1;
}
.servi .servicios {
  display: flex;
  opacity: 1;
  justify-content: center;
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 32);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.clientes {
  background: linear-gradient(to top, rgba(218, 219, 224, 0.9), rgba(218, 219, 224, 0)), url(../imagenes1/fondo1.jpg);
}
.clientes .card {
  opacity: 0.8;
}
.clientes .logosclientes_parrafo {
  display: flex;
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 40px;
  color: rgb(2, 2, 59);
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contacto {
  background: linear-gradient(to top, rgba(218, 219, 224, 0.9), rgba(218, 219, 224, 0)), url(../imagenes1/fondo2.jpg);
}
.contacto .formulariocontacto {
  height: 1000px;
}
.contacto .formulariocontacto .clase1 {
  margin: 10px;
}
.contacto .formulariocontacto .fc1 {
  display: flex;
  flex-direction: column;
}
.contacto .formulariocontacto .clase2 {
  margin: 10px;
}
.contacto .formulariocontacto .otrosd {
  display: flex;
  flex-direction: column;
}
.contacto .formulariocontacto .otrosd .termycon {
  margin: 10px;
  display: flex;
  flex-direction: column;
}
.contacto .formulariocontacto .clase3 {
  margin: 10px;
}/*# sourceMappingURL=styles.css.map */