* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* grid*/
.grid {
  display: grid;
  grid-template-areas:
    "header"
    "cuerpo"
    "oee "
    "main"
    "footer"
  ;
  grid-template-rows: 100px 600px auto 100px 100px;
}

header {
  grid-area: header;
}

.cuerpo {
  grid-area: cuerpo;
}

.oee {
  grid-area: oee;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* medias de imagenes unicamente*/

.logo img {
  width: 130px;
  height: 100px;
}

img {
  width: 400px;
  height: 400px;
}

footer img {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.ubic {
  width: 150px;
  height: 60px;
}

/* fin seccion tamaño imagenes*/

/* zona trabajo header en index*/

header {
  display: flex;
}

header img {
  display: flex;
}

.boreal {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-image: linear-gradient(to left, rgb(204, 243, 210), rgb(92, 141, 92));
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 600px;
  background-image: linear-gradient(to right, rgb(13, 190, 43), rgb(112, 145, 117));
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

li {
  background-color: rgb(181, 185, 183);
  color: aliceblue;
  padding: 5px;
  border-radius: 5px;
  transition: padding 0.5s;
}

li:hover {
  padding: 10px;
  background-color: rgb(239, 245, 238);
  color: rgb(197, 21, 21);
}

/* fin zona de trabajo header */

.cuerpo {
  background: linear-gradient(to top, rgba(218, 219, 224, 0.90), rgba(218, 219, 224, 0.00)), url(../imagenes1/paraoee\ \(2\).jpg);
  background-size: 1700px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 20px;
  padding: 30px;
}

.titsn {
  display: flex;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.cuer {
  background-color: rgba(150, 146, 146, 0.363);
  width: 400px;
  border-radius: 10px;
}





/* fin de zona cuerpo*/

/* inicio zona obras en ejecucion*/

.oee {
  display: flex;
  flex-direction: column;
  background-color: rgba(195, 212, 198, 0.555);

}

.tit {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.imgoee {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 50px;
  justify-content: space-between;
  background-color: rgb(144, 241, 144);
}

h3 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  color: beige;
  background-color: black;
  border-radius: 10px;
}

/* fin zona obras en ejecucion*/

/* inicio zona main*/

.publi {
  display: flex;
  justify-content: center;
  background-color: rgb(198, 247, 196);
}

/* fin zona main*/

/* inicio zona footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, rgb(204, 243, 210), rgb(92, 141, 92));
  padding: 10px;
}

.redsos {
  display: flex;
  flex-direction: column;
}

/*transicion footer*/

footer img:hover {
  padding: 1px;
  width: 40px;
  height: 40px;
}


/* comienza seccion paginas*/

/* pagina clientes*/

.gridcli {
  display: grid;
  grid-template-areas:
    "header"
    "logosclientes"
    "footer"
  ;
  grid-template-rows: 100px  auto 100px 100px;
}

header {
  grid-area: header;
}

.logosclientes{
  grid-area: logosclientes;
}


footer {
  grid-area: footer;
}

.logosclientes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url(../imagenes1/paraoee\ \(2\).jpg);
  height: 600px;
  overflow: hidden;

}

.logcli {
  display: flex;
  justify-content: space-around;

}

.imgcli {
  width: 200px;
  height: 200px;
  border: solid;
  margin: 20px;
  overflow: hidden;
 cursor: grab;
 transition: padding 0.5s;
}
/* transicion*/

.imgcli:hover {
  padding: 10px;
  width: 300px;
  height: 300px;
}


.logosclientes_parrafo {
  display: flex;
  background-color: rgb(63, 59, 59);
  color: white;
  justify-content: center;
  width: 500px;
  padding: 10px;
  border-radius: 10px;

}

/* fin pagina clientes*/



@media screen and (max-width: 480px) {

  .boreal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background-image: linear-gradient(to left, rgb(129, 43, 209), rgb(141, 22, 28));
  }

  .cuerpo {
    background: linear-gradient(to top, rgba(218, 219, 224, 0.90), rgba(218, 219, 224, 0.00)), url(../imagenes1/paraoee\ \(2\).jpg);
    display: flex;
    align-items: center;
    flex-direction: column;
  }


  .imgoee {
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    align-items: center;
    background-color: rgb(216, 240, 185);
  }

  header img {
    display: none;
  }

  footer {
    display: flex;
    height: 300px;
    flex-direction: column;
    align-content: space-around;
   
      background-image: linear-gradient(to right, rgb(204, 243, 210), rgb(92, 141, 92));

  }
  ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 400px;
    background-image: linear-gradient(to right, rgb(13, 190, 43), rgb(112, 145, 117));
    margin: 5px;
    padding: 5px;
    border-radius: 10px;}

/* se aplica para la pagina de clientes*/

.logcli {
  display: flex;
  flex-direction:column ;
  justify-content: space-around;
  

}
.logosclientes {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url(../imagenes1/paraoee\ \(2\).jpg);
  height: 2000px;}

  .logosclientes_parrafo {
    display: flex;
    background-color: rgb(63, 59, 59);
    color: white;
    justify-content: center;
    width: 200px;
    padding: 20px;
    border-radius: 20px;
  
  }

}