* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*tamaño imagenes*/

.logotransp {
  width: 130px;
  height: 100px;
  border: solid;
  padding: 5px;
  background-color: rgb(63, 126, 5);
}

img {
  width: 400px;
  height: 400px;
}

footer img {
  width: 25px;
  height: 25px;
  border-radius: 4px;
}

.ubic {
  width: 150px;
  height: 60px;
}

/* fin seccion tamaño imagenes*/

/* zona trabajo header en index*/

header {
  display: flex;
}

.bg-light {
  background-image: linear-gradient(to left, rgb(204, 243, 210), rgb(133, 190, 167));
border-radius: 10px;
}

.tys {
  display: flex;
  padding-top: 5px;
}

.titulo {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.boreal {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  padding: 10px;
  align-items: center;
  background-image: linear-gradient(to left, rgb(204, 243, 210), rgb(133, 190, 167));
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-nav {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 500px;
  background-image: linear-gradient(to left, rgb(48, 109, 59), rgb(190, 245, 198));
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
}

.nav-link {
  background-color: rgb(204, 211, 208);
  color: rgb(76, 166, 245);
  padding: 5px;
  border-radius: 5px;
  transition: padding 0.5s;
}

.nav-link:hover {
  padding: 10px;
  background-color: rgb(239, 245, 238);
  color: rgb(197, 21, 21);
}

/* fin zona de trabajo header */

/*zona carousel*/

#carouselExampleControls {
  opacity: 75%;

}

.cuerpo {
  background: linear-gradient(to top, rgba(218, 219, 224, 0.90), rgba(218, 219, 224, 0.00)), url(../imagenes1/paraoee\ \(2\).jpg);
  background-size: 1700px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  font-size: 20px;
  padding: 30px;
  height: 600px;
}

.titsn {
  display: flex;
  text-align: center;
  padding: 5px;
  margin: 5px;
}

.cuer {
  background-color: rgba(150, 146, 146, 0.363);
  width: 400px;
  border-radius: 10px;
}





/* fin de zona cuerpo*/

/* inicio zona obras en ejecucion*/

.oee {
  display: flex;
  flex-direction: column;
  background-color: rgba(195, 212, 198, 0.555);

}

.tit {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.imgoee {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  margin: 50px;
  justify-content: space-between;
  background-color: rgb(144, 241, 144);
}

h3 {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  color: beige;
  background-color: black;
  border-radius: 10px;
}

/* fin zona obras en ejecucion*/

/* inicio zona main*/


/* finaliza la seccion Footer"




/* comienza la page Obras */


.publi {
  display: flex;
  justify-content: center;
  background-color: rgb(198, 247, 196);
}

/* fin zona main*/

/* inicio zona footer */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, rgb(204, 243, 210), rgb(92, 141, 92));
  padding: 10px;
}

.redsos {
  display: flex;
  flex-direction: column;
}

/*transicion footer*/

footer img:hover {
  padding: 1px;
  width: 40px;
  height: 40px;
}


/* comienza seccion paginas*/

/* pagina clientes*/



.logosclientes {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url(../imagenes1/paraoee\ \(2\).jpg);
  height: 600px;
  overflow: hidden;

}

.logcli {
  display: flex;
  justify-content: space-around;

}

.imgcli {
  width: 200px;
  height: 200px;
  border: solid;
  margin: 20px;
  overflow: hidden;
  cursor: grab;
  transition: padding 0.5s;
}

/* transicion*/

.imgcli:hover {
  padding: 10px;
  width: 300px;
  height: 300px;
}


.logosclientes_parrafo {
  display: flex;
  background-color: rgb(63, 59, 59);
  color: white;
  justify-content: center;
  width: 500px;
  padding: 10px;
  border-radius: 10px;

}

/* fin pagina clientes*/